// main: "../main.less"

.footer__number{
    background-color: @blue2;
    color: @white;
    padding: 64px 0;

    .logo{
        width: 205px;
        height: 45px;
        margin: 0 auto;
        margin-bottom: 42px;
        svg{
            display: block;
        }
    }
    p{
        font-size: 1.6rem;
        line-height: 1.4;
    }
    .copy{
        margin-top: 42px;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.4;
    }
    .endereco{
        text-align: center;
        margin-bottom: 42px;
    }
    .canal-denuncia{
        margin-top: 42px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        
        img{
            margin-top: 8px;
            width: 169px;
        }
    }

    .btn__wrapper{
        display: flex;
        margin-top: 42px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        a{
            border: 2px solid #0042AD;
            border-radius: 12px;
            padding: 16px 24px;
            text-align: center;
            width: fit-content;
            transition: all 0.2s;
            
            &:hover{
                background: rgba(255,255,255,0.05);
            }
        }
    }
        
}


@media (min-width: 992px) {
    .footer__number{
        padding: 64px 0;
        .logo{
            width: 276px;
            height: 61px;
            margin: 0;
            margin-bottom: 64px;
        }

        .copy{
            margin-top: 64px;
            text-align: left;
        }
        .endereco{
            margin: 0;
            text-align: right;
        }
        .canal-denuncia{
            margin-top: 0px;
            margin-left: auto;
            margin-right: 0;

        }
    
        .btn__wrapper{
            margin-top: 64px;
            flex-direction: row;
        }

    }
    
}


@media (min-width: 1600px) {
    .footer__number{
        padding: 84px 0;
    }
}